{% include base_path %}
<body>
    <h1>Korean Software Congress 2023</h1>
    <div id="example1" style="height:30rem;"></div>
    <div id="example2" style="height:30rem;"></div>
    <script src="{{ base_path }}/assets/js/pdfobject.js"></script>
    <!-- PDFObject.embed("pdf파일 경로", "태그 id"); -->
    <script>PDFObject.embed("{{ base_path }}/files/(Poster) Evaluating Prior Knowledge of ARC Using World Models.pdf", "#example1");</script>
    <script>PDFObject.embed("{{ base_path }}/files/KSC2023-월드 모델을 이용한 ARC 문제의 사전 지식 평가-이승필.pdf", "#example2");</script>
</body>